# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Desktop Connect Four/*
!/Desktop Connect Four/task/
/Desktop Connect Four/task/*
!/Desktop Connect Four/task/src
